.slide {
  width: 100dvw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.photo-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.photo-container img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  position: relative;
}

.photo-container::after {
  content: attr(data-name);
  position: absolute;
  bottom: 0;
  margin: 0;
  background-color: whitesmoke;
  padding: 8px;
  border-top-right-radius: 8px;
}
